// Calculator 

// Colors
$bg: #24283b; //dark purple
$text: #c0caf5;
$black: #1a1b26;
$red: #f7768e;
$blue: #7aa2f7;
$green: #9ece6a;
$orange:  #ff9e64;

// Vanilla css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 2rem;
}

body {
  background: $bg;
  color: $text;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results {
  width: 75vw;
  height: 3rem;
  border: 5px double $black;
  text-align: end;
  margin-bottom: 1rem;
  padding: 0.25rem .5rem;
}

/* Button Colors */ 
button {
  background: $black;
  border: 2px solid $text;
}
.number {
  color: $blue;
}
.operator {
  color: $red;
}

.container {
  display: grid;
  width: 75vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  grid-template-areas:
    "seven eight nine add"
    "four five six subtract"
    "one two three multiply"
    "clear zero equals divide"
}

/* Grid Areas via Template*/
.clear {
  color: $orange;
  grid-area: clear;
}
.equals {
  color: $text;
  grid-area: equals;
}
/* Numbers */
#nine {
  grid-area: nine;
}
#eight {
  grid-area: eight;
}
#seven {
  grid-area: seven;
}
#six {
  grid-area: six;
}
#five {
  grid-area: five;
}
#four {
  grid-area: four;
}
#three {
  grid-area: three;
}
#two {
  grid-area: two;
}
#one {
  grid-area: one;
}
#zero {
  grid-area: zero;
}
/* Operators */
#add {
  grid-area: add;
}
#subtract {
  grid-area: subtract;
}
#multiply {
  grid-area: multiply;
}
#divide {
  grid-area: divide;
}
